<td>{image.file.uid}</td>
<td>{image.file.name}</td>
<td>{image.file.size}</td>
<td>
	{image.file.meta_uid}
	<ex:editLink action="edit" table="sys_file_metadata" uid="{image.file.meta_uid}" returnUrl="mod.php?M=tools_BackendtoolsMod1&tx_backendtools_tools_backendtoolsmod1[action]=images">
		<core:icon identifier="actions-open" size="small" />
	</ex:editLink>
</td>
<td>{image.file.meta_width}</td>
<td>{image.file.meta_height}</td>
<td>{image.file.meta_title}</td>
<td>{image.file.meta_alt}</td>
<td>{image.ref_uid}</td>
<td>{image.ref_title}</td>
<td>{image.ref_alt}</td>
<f:if condition="{image.tt_uid} || {image.tt_pid}">
<f:then>
	<td>{image.tt_lang}</td>
	<td>{image.tt_pos}</td>
	<td><f:if condition="{image.tt_uid} > 0">
		{image.tt_uid}
		<ex:editLink action="edit" table="tt_content" uid="{image.tt_uid}" returnUrl="mod.php?M=tools_BackendtoolsMod1&tx_backendtools_tools_backendtoolsmod1[action]=images">
    		<core:icon identifier="actions-open" size="small" />
    	</ex:editLink>
	</f:if></td>
	<td><f:if condition="{image.tt_pid} > 0">
		{image.tt_pid} 
		<a href="{image.domain}/index.php?id={image.tt_pid}&no_cache=1" target="extern">
			<core:icon identifier="actions-document-view" size="small" />
		</a>
	</f:if></td>
</f:then>
<f:else>
	<td colspan="4"><i>{image.ref_tablenames}</i></td>
</f:else>
</f:if>