<html
		xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
		xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
		data-namespace-typo3-fluid="true">

<be:moduleLayout>
	<f:be.pageRenderer
		includeRequireJsModules="{
            0:'TYPO3/CMS/Backend/ContextMenu'
        }"
	/>

	<be:moduleLayout.menu identifier="BackendtoolsModuleMenu">
		<be:moduleLayout.menuItem label="Menu: please choose..." uri="{f:uri.action(controller: 'Session', action: 'list')}"/>
		<be:moduleLayout.menuItem label="Show pages that use (specific) extensions" uri="{f:uri.action(controller: 'Session', action: 'list')}"/>
		<be:moduleLayout.menuItem label="Show latest (changed) pages and content elements" uri="{f:uri.action(controller: 'Session', action: 'latest')}"/>
		<be:moduleLayout.menuItem label="Show pages that links to a specific page" uri="{f:uri.action(controller: 'Session', action: 'pagesearch')}"/>
		<be:moduleLayout.menuItem label="Show pages that change the (backend) layout" uri="{f:uri.action(controller: 'Session', action: 'layouts')}"/>
		<be:moduleLayout.menuItem label="Show images without title- or alt-text" uri="{f:uri.action(controller: 'Session', action: 'images')}"/>
		<be:moduleLayout.menuItem label="Delete unused files in the uploads-folder" uri="{f:uri.action(controller: 'Session', action: 'filedeletion')}"/>
		<be:moduleLayout.menuItem label="Import redirect-rules to sys_redirect" uri="{f:uri.action(controller: 'Session', action: 'redirects')}"/>
		<be:moduleLayout.menuItem label="Check the sys_redirect entries" uri="{f:uri.action(controller: 'Session', action: 'redirectscheck')}"/>
	</be:moduleLayout.menu>

	<be:moduleLayout.button.shortcutButton displayName="Create a shortcut" />

	<div id="backendtools-main-content">
		<f:flashMessages />
		<f:render section="Content" />
	</div>
</be:moduleLayout>

</html>
