:root {
    --shadow: 0.3rem 0.3rem 0.6rem #aaddff,
    -0.2rem -0.2rem 0.5rem #ffffff;
}
#backendtools-main-content h1 {
    margin-top:0;
}
th, td {  padding: 5px;}
#mytype3001 {margin-bottom: 10px;}
#typo3-inner-docbody {padding-top: 4px;}
.f3-widget-paginator { padding-left:0; }
.f3-widget-paginator li { display:inline-block; }
.f3-widget-paginator li.current { font-weight: bold; }
input,select,table.table {
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
}
.isok {color:#007700}
.tooltipbase {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltipbase .tooltiptext {
    visibility: hidden;
    width: 420px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltipbase:hover .tooltiptext {
    visibility: visible;
}